
@{
   
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="row">
        <div class="col-md-4">
            <a href="/Admin/Drivers" class="btn btn-outline-info col-md-12 btn-lg">CHOFERES</a>
        </div>
        <div class="col-md-4">
            <a href="/Admin/Clients" class="btn btn-outline-info col-md-12 btn-lg">CLIENTES</a>
        </div>
        <div class="col-md-4">
            <a href="/Admin/Drivers" class="btn btn-outline-info col-md-12 btn-lg">RUTAS</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="~/Content/Images/admin-bus.svg" height="400" width="400" />
        </div>
    </div>
    
</body>
</html>
